.parent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 25px 0;
}

.section-header > h2 {
  font-size: 20px;
  color: var(--primary-main);
  flex-shrink: 0;
}
.section-header > a {
  display: flex;
  align-items: center;
  color: var(--secondary-main);
  flex-shrink: 0;
  text-decoration: none;
}
