:root {
  /* --primary-main: #326789;
  --primary-light: #78a6c8;
  --primary-dark: #093552;

  --secondary-main: #e65c4f;
  --secondary-light: #ff8a80;
  --secondary-dark: #b6362a; */

  --secondary-main: #272727;
  --secondary-light: #5b5b5b;
  --secondary-dark: #191919;

  --primary-main: #cf1d39;
  --primary-light: #d05769;
  --primary-dark: #a5192e;

  --bg-main: #e9eef2;
  --black-main: #252525;
  --white-main: #ffffff;

  --placeholder: #888888;

  --grey-50: #f9fafb;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #1e293b;

  /* shadow */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-main: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* border radius */
  --border-radius-main: 8px;
  --border-radius-sm: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: var(--bg-main);

  margin: 0px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 92%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1256px) {
  .container {
    max-width: 1256px;
  }
}

/* center classes */
.center-y {
  display: flex;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  background-color: var(--primary-light);
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  padding: 4px 9px;
  border-radius: var(--border-radius-sm);
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #dadee1;
}

.card-shadow {
  box-shadow: var(--shadow-sm);
}

/* slide in effect */
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
