:root {
  --primary-main: #326789;
  --primary-light: #78a6c8;
  --primary-dark: #093552;

  --secondary-main: #e65c4f;
  --secondary-light: #ff8a80;
  --secondary-dark: #b6362a;

  --bg-main: #e9eef2;
  --black-main: #252525;
  --white-main: #ffffff;

  --placeholder: #888888;

  --grey-50: #f9fafb;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #1e293b;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: var(--bg-main);

  margin: 0px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 96%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1256px) {
  .container {
    max-width: 1256px;
  }
}

/* center classes */
.center-y {
  display: flex;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  background-color: var(--primary-light);
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  padding: 4px 9px;
  border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #dadee1;
}
